.registration{
    background-color: rgb(243, 243, 243);
    height:100vh;
    width:70%;
    margin: auto;
    padding: 20px 40px;
    box-sizing: border-box;
}
body{
    margin: 0px;
    font-family: 'Brush Script MT', cursive;
}
.head1{
    margin: 0px;
}
input{
    width: 100%;
    padding: 8px 16px;
    border-width: 1px;
    border-radius: 5px;
    box-sizing: border-box;
}
label{
    font-weight: bold;
}
.form-control{
    margin: 20px 0px;
}
.submit-btn{
    background-color: green;
    color:white;
    padding: 8px 18px;
    border-width: 1px;
    border-radius: 5px;
}