.registration{
    background-color: rgb(243, 243, 243);
    height:100vh;
    width:70%;
    margin: auto;
    padding: 20px 40px;
    box-sizing: border-box;
}
body{
    margin: 0px;
    font-family: 'Arial', Sans-serif;
}
.head1{
    margin: 0px;
}
input {
    padding: 8px 16px;
    border-width: 1px;
    border-radius: 5px;
    box-sizing: border-box;
}
.text {
    width: 100%;
}label{
    margin-right: 15px;;
}
.label{
    font-weight: bold;
    display:block;
}
.form-control{
    margin: 20px 0px;
}
.submit-btn{
    background-color: green;
    color:white;
    padding: 8px 18px;
    border-width: 0px;
    border-radius: 5px;
}
.reset-btn{
    background-color: rgb(110, 20, 20);
    color:white;
    padding: 8px 18px;
    border-width: 0px;
    border-radius: 5px;
}
select{
    width: 200px;
    padding: 8px 16px;
    border-radius: 5px;
    box-sizing: border-box;
}
textarea{
    border-radius: 5px;
    width: 100%;
}