.container{
    background-color: rgb(243, 243, 243);
    height:100%;
    width:70%;
    margin: auto;
    padding: 20px 40px;
    box-sizing: border-box;
}
body{
    margin: 0px;
    font-family: 'Arial', Sans-serif;
}
.head1{
    margin: 0px;
}
.head2{
    margin-top: 25px;
}
input {
    padding: 8px 16px;
    border-width: 1px;
    border-radius: 5px;
    box-sizing: border-box;
}
.text {
    width: 100%;
}
input[type="text"]:hover, input[type="number"]:hover, textarea:hover, select:hover{
    box-shadow: 0 0 0 0.2rem rgb(168, 168, 255);
}
input:focus, textarea:focus {
    background-color: rgb(255, 251, 207);
  }

label{
    margin-right: 15px;;
}
.label{
    font-weight: bold;
    display:block;
    margin-bottom: 12px;
}
.form-control{
    margin: 30px 0px;
}
.submit-btn{
    background-color: green;
    color:white;
    padding: 8px 18px;
    margin-right: 5px;;
    border: 0px;
    border-radius: 5px;
    width: 80px;
    box-sizing: border-box;
}
.reset-btn{
    background-color: rgb(110, 20, 20);
    color:white;
    padding: 8px 18px;
    border: 0px;
    border-radius: 5px;
    width: 80px;
    box-sizing: border-box;
}
.submit-btn:hover{
    background-color: rgb(47, 105, 6);
    box-shadow: 0 0 0 0.2rem green;
}
.reset-btn:hover{
    background-color:rgb(152, 5, 5);
    box-shadow:  0 0 0 0.2rem rgb(110, 20, 20);
                /* offset-x | offset-y | blur-radius | spread-radius | color  (16px=1rem)*/
}
select{
    width: 200px;
    padding: 8px 16px;
    border-radius: 5px;
}
select:hover{
    background-color: rgb(255, 251, 207);
    cursor: pointer;
    border-color: black;
}
textarea{
    border-radius: 5px;
    width: 100%;
    padding: 16px 32px;
    box-sizing: border-box;
}
.errorpara{
    color: red;
}
.require{
    color: red;
}


